# Configuration file for CL-SOM-iMX7

[ Parameters ]
first_boot_mmcblk2=run emmcboot
first_boot_mtd=run nandboot
mtd=4:0:3:0:5:0:rootfs
unlock_dev=/dev/mtd2
[ fw_env.config ]
# MTD device name       Device offset   Env. size       Flash sector size
/dev/mtd1               0               0x2000          0x2000
[ eof ]
Should remain last section
