# Configuration file for CL-SOM-iMX6UL

[ Parameters ]
first_boot=setenv mmcdev 1; setenv mmcroot /dev/mmcblk1p2 rootwait rw; mmc dev ${mmcdev}; mmc rescan; run loadimage; run mmcboot
unlock_dev=/dev/mtd2
[ fw_env.config ]
# MTD name      Device offset   Env. size       Flash sector size
/dev/mtd1       0x0000          0x2000          0x2000
[ eof ]
Should remain last section
