# Configuration file for CL-SOM-iMX6

[ Parameters ]
first_boot=run setupmmcboot; setenv storagedev 3; mmc dev ${storagedev};run trybootsmz
[ fw_env.config ]
# MTD name      Device offset   Env. size       Flash sector size
/dev/mtd1       0x0000          0x2000          0x2000
[ eof ]
Should remain last section
