# Configuration file for CL-SOM-iMX7

[ Parameters ]
tty=ttymxc0,115200
rdaddr=0x82000000
loadaddr=0x80800000
fdtaddr=0x83000000
target_media=eMMC mtd usb
first_boot_eMMC=run emmcboot
first_boot_mtd=run nandboot
first_boot_usb=run usbbootscript; run loadkernel && run loadfdt && setenv bootargs "console=${console},${baudrate} root=/dev/sdc2 rootwait rw"; run doboot
dtb_file=imx7d-sbc-imx7.dtb
mtd=4:0:3:0:5:0:rootfs
unlock_dev=/dev/mtd2
[ fw_env.config ]
env_dev=/dev/mtd1
env_offset=0x0000
env_size=0x2000
env_sector_size=0x2000
[ Block Device partitions ]
partition=1:100M::83
partition=2:max::83
[ eof ]
Should remain last section
