# Configuration file for CL-SOM-iMX6

[ Parameters ]
tty=ttymxc3,115200
loadaddr=0x10800000
fdtaddr=0x15000000
rdaddr=0x12000000
target_media=eMMC mtd sata usb
first_boot_eMMC=setenv storagetype mmc; setenv storagedev 3; mmc dev ${storagedev}; setenv mmcroot /dev/mmcblk3p2 rw rootwait; setenv dtb imx6q-sbc-imx6-hdmi.dtb; run trybootsmz
first_boot_mtd=run setupnandboot;run nandboot
first_boot_sata=run setupsataboot; sata init; setenv dtb imx6q-sbc-imx6-hdmi.dtb; run trybootsmz
first_boot_usb=run setupusbboot; setenv dtb imx6q-sbc-imx6-hdmi.dtb; setenv bootargs "console=${console} root=/dev/sdc2 rootwait rw"; run trybootsmz
mtd=3:0x780000:3:0:4:0:rootfs
dtb_file=imx6q-sbc-imx6-hdmi.dtb
[ fw_env.config ]
env_dev=/dev/mtd1
env_offset=0x0000
env_size=0x2000
env_sector_size=0x2000
[ Block Device partitions ]
partition=1:100M::83
partition=2:max::83
[ eof ]
Should remain last section
