# Configuration file for CL-SOM-iMX6UL

[ Parameters ]
tty=ttymxc2,115200
rdaddr=0x81000000
fdtaddr=0x83000000
target_media=eMMC usb
first_boot_eMMC=setenv mmcdev 1; setenv mmcroot /dev/mmcblk1p2 rootwait rw; mmc dev ${mmcdev}; mmc rescan; run loadimage; run mmcboot
first_boot_usb=usb reset && setenv bootargs "console=${console},${baudrate} root=/dev/sdc2 rootwait rw"; load usb 0 ${loadaddr} ${image} && load usb 0 ${fdt_addr} ${fdt_file} && bootz ${loadaddr} - ${fdt_addr}
unlock_dev=/dev/mtd2
[ fw_env.config ]
env_dev=/dev/mtd1
env_offset=0x0000
env_size=0x2000
env_sector_size=0x2000
[ Block Device partitions ]
partition=1:100M::83
partition=2:max::83
[ eof ]
Should remain last section
