# Configuration file for CL-SOM-AM57x

[ Parameters ]
tty=ttyS2,115200
target_media=eMMC sata usb
first_boot_eMMC=run emmcboot
first_boot_sata=run sataboot
first_boot_usb=usb reset; load usb 0 ${loadaddr} ${kernel}; load usb 0 ${fdtaddr} ${fdtfile}; run sataargs; run bootkernel
[ fw_env.config ]
env_dev=/dev/mtd1
env_offset=0x0000
env_size=0x4000
env_sector_size=0x4000
[ Block Device partitions ]
partition=1:100M::83
partition=2:max::83
[ eof ]
Should remain last section
