# Configuration file for CL-SOM-iMX6

[ Parameters ]
target_media=mmcblk3 mtd sda
first_boot_mmcblk3=setenv storagetype mmc; setenv storagedev 3; mmc dev ${storagedev}; setenv mmcroot /dev/mmcblk3p2 rw rootwait; setenv dtb imx6q-sbc-imx6-hdmi.dtb; run trybootsmz
first_boot_mtd=run setupnandboot;run nandboot
first_boot_sda=run setupsataboot; sata init; setenv dtb imx6q-sbc-imx6-hdmi.dtb; run trybootsmz
mtd=3:0x780000:3:0:4:0:rootfs
[ fw_env.config ]
# MTD name      Device offset   Env. size       Flash sector size
/dev/mtd1       0x0000          0x2000          0x2000
[ eof ]
Should remain last section
