# Configuration file for CL-SOM-iMX7

[ Parameters ]
tty=ttymxc0,115200
rdaddr=0x82000000
loadaddr=0x80800000
fdtaddr=0x83000000
target_media=eMMC nand usb
first_boot_eMMC=run emmcboot
first_boot_nand=run nandboot
first_boot_usb=run usbbootscript; run loadkernel && run loadfdt && setenv bootargs "console=${console},${baudrate} root=/dev/sdc2 rootwait rw"; run doboot
dtb_file=imx7d-sbc-imx7.dtb
[ fw_env.config ]
env_part_name=uboot environment
env_offset=0x0000
env_size=0x2000
[ NAND partitions ]
nand_dtb_mtd_dev=1
nand_dtb_mtd_offset=0
nand_kernel_mtd_dev=0
nand_kernel_offset=0
nand_rootfs_mtd_dev=2
nand_rootfs_ubi_dev=0
nand_rootfs_ubi_vol=rootfs
[ Block Device partitions ]
partition=1:100M::83
partition=2:max::83
[ Extra Mount Images ]
extra_mount=/lib/firmware /lib/modules
[ Extra Kernel Modules ]
extra_modules=imx-sdma
[ eof ]
Should remain last section
