# Configuration file for CM-FX6

[ Parameters ]
tty=ttymxc3,115200
loadaddr=0x10800000
fdtaddr=0x15000000
rdaddr=0x12000000
fdtfile=imx6q-sbc-fx6.dtb
target_media=mtd sda
first_boot_mtd=setenv nandroot 'ubi0:rootfs rw'; setenv nandrootfstype 'ubifs ubi.mtd=rootfs'; run setupnandboot;run nandboot
first_boot_sda=run setupsataboot; sata init; setenv dtb imx6q-sbc-fx6.dtb; run trybootsmz
mtd=3:0x780000:3:0:4:0:rootfs
dtb_file=imx6q-sbc-fx6.dtb
unlock_dev=/dev/mtd2
[ fw_env.config ]
env_dev=/dev/mtd1
env_offset=0x0000
env_size=0x2000
env_sector_size=0x2000
[ Block Device partitions ]
partition=1:100M::83
partition=2:max::83
[ eof ]
Should remain last section
