# Configuration file for CM-FX6

[ Parameters ]
tty=ttymxc3,115200
loadaddr=0x10800000
fdtaddr=0x15000000
rdaddr=0x12000000
fdtfile=imx6q-sbc-fx6.dtb
target_media=nand sata usb
first_boot_nand=setenv nandroot 'ubi0:rootfs rw'; setenv nandrootfstype 'ubifs ubi.mtd=rootfs'; run setupnandboot;run nandboot
first_boot_sata=run setupsataboot; sata init; setenv dtb imx6q-sbc-fx6.dtb; run trybootsmz
first_boot_usb=run setupusbboot; setenv dtb imx6q-sbc-fx6.dtb; setenv bootargs "console=${console} root=/dev/sdc2 rootwait rw"; run trybootsmz
dtb_file=imx6q-sbc-fx6.dtb
unlock_dev=/dev/mtd2
[ fw_env.config ]
env_part_name=uboot environment
env_offset=0x0000
env_size=0x2000
[ NAND partitions ]
nand_dtb_mtd_dev=3
nand_dtb_mtd_offset=0x780000
nand_kernel_mtd_dev=3
nand_kernel_offset=0
nand_rootfs_mtd_dev=4
nand_rootfs_ubi_dev=0
nand_rootfs_ubi_vol=rootfs
[ Block Device partitions ]
partition=1:100M::83
partition=2:max::83
[ eof ]
Should remain last section
