# Configuration file for CM-T43

[ Parameters ]
first_boot=if mmc dev 0; then setenv emmcroot /dev/mmcblk1p2 rw; fi; mmc dev 1; mmc rescan; run emmcboot
unlock_dev=/dev/mtd2
[ fw_env.config ]
# MTD device name       Device offset   Env. size       Flash sector size
/dev/mtd1               0               0x4000          0x10000
[ eof ]
Should remain last section
