# Configuration file for CM-T43

[ Parameters ]
tty=ttyO0,115200
loadaddr=0x80200000
fdtaddr=0x81200000
rdaddr=0x82200000
target_media=eMMC nand usb
first_boot_eMMC=if mmc dev 0; then setenv emmcroot /dev/mmcblk1p2 rw; fi; mmc dev 1; mmc rescan; run emmcboot
first_boot_nand=setenv bootargs "console=ttyO0,115200n8 root=ubi0:rootfs rw rootfstype=ubifs ubi.mtd=rootfs"; nand read ${loadaddr} 0 980000 && nand read ${fdtaddr} 980000 80000 && bootz ${loadaddr} - ${fdtaddr}
first_boot_usb=usb reset && setenv bootargs "console=ttyO0,115200n8 root=/dev/sdc2 rootwait rw"; load usb 0 ${loadaddr} ${kernel} && load usb 0 ${fdtaddr} ${fdtfile} && bootz ${loadaddr} - ${fdtaddr}
unlock_dev=/dev/mtd2
dtb_file=am437x-sb-som-t43.dtb
[ fw_env.config ]
env_dev=/dev/mtd1
env_offset=0x0000
env_size=0x4000
env_sector_size=0x10000
[ NAND partitions ]
nand_dtb_mtd_dev=4
nand_dtb_mtd_offset=0
nand_kernel_mtd_dev=3
nand_kernel_offset=0
nand_rootfs_mtd_dev=5
nand_rootfs_ubi_dev=0
nand_rootfs_ubi_vol=rootfs
[ Block Device partitions ]
partition=1:100M::83
partition=2:max::83
[ eof ]
Should remain last section
