# Configuration file for CM-T335

[ Parameters ]
target_media=mtd
first_boot_mtd=run nandboot_z
mtd=3:0:5:0:6:0:rootfs
dtb_file=am335x-sbc-t335.dtb
[ fw_env.config ]
# MTD device name       Device offset   Env. size       Flash sector size
/dev/mtd2               0               0x4000          0x20000
[ eof ]
Should remain last section
