# Configuration file for CM-T43

[ Parameters ]
first_boot_mmcblk1=if mmc dev 0; then setenv emmcroot /dev/mmcblk1p2 rw; fi; mmc dev 1; mmc rescan; run emmcboot
first_boot_mtd=setenv bootargs "console=ttyO0,115200n8 root=ubi0:rootfs rw rootfstype=ubifs ubi.mtd=rootfs"; nand read ${loadaddr} 0 980000 && nand read ${fdtaddr} 980000 80000 && bootz ${loadaddr} - ${fdtaddr}
mtd=4:0:3:0:5:0:rootfs
unlock_dev=/dev/mtd2
[ fw_env.config ]
# MTD device name       Device offset   Env. size       Flash sector size
/dev/mtd1               0               0x4000          0x10000
[ eof ]
Should remain last section
