# Configuration file for CM-T335

[ Parameters ]
tty=ttyO0,115200n8
rdaddr=0x81000000
fdtaddr=0x83000000
mmcdev=0:1
target_media=nand usb
first_boot_nand=run nandboot_z
first_boot_usb=usb reset && setenv bootargs "console=${console},${baudrate} root=/dev/sdc2 rootwait rw"; load usb 0 ${loadaddr} zImage-cm-t335 && load usb 0 ${fdtaddr} am335x-sbc-t335.dtb && bootz ${loadaddr} - ${fdtaddr}
dtb_file=am335x-sbc-t335.dtb
[ fw_env.config ]
env_part_name=uboot environment
env_offset=0x0000
env_size=0x4000
[ NAND partitions ]
nand_dtb_mtd_dev=3
nand_dtb_mtd_offset=0
nand_kernel_mtd_dev=5
nand_kernel_offset=0
nand_rootfs_mtd_dev=6
nand_rootfs_ubi_dev=0
nand_rootfs_ubi_vol=rootfs
[ Block Device partitions ]
partition=1:100M::83
partition=2:max::83
[ eof ]
Should remain last section
